html, body { 
	height: 100%;
 	margin: 0; 
 	padding: 0; 
}
      
 #map {
 	width:75%;
    height:calc(100% - 0);
    position:absolute;
    right:16px;
    top:50px;
    bottom:0;
    overflow:hidden;
    display: flex;
 }

}
 
 #main, #main>.row {
	height:100%;
	display: flex;
}

/*#main>.row {
    overflow-y:scroll;
}
*/
#left {
	height:100%;
}

li {
 	list-style: none;
 	letter-spacing: 1px;
 	line-height: 1.4em;
}

#search-input {
	width: 95%
}
